.custom-furniture-subtitle
{
    color: #323232;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
}

body
{
    background: #F3EFEA;
} 

footer
{
    background: #715B4B;
}

.title-1
{
    color: #57463A;
    /* Title 1 */
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 72px */
}

.custom-furniture-numbers
{
    color: #57463A;

    /* Title 1 */
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 72px */
}

.custom-furniture-production-stages
{
    color: #323232;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 102.99%; /* 16.478px */
}

.main-txt
{
    color: #323232;

    /* Text */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.masterClasses-our-works
{
    color: #323232;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 102.99%; /* 16.478px */
}

.masterClasses-maim-txt
{
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */
}

.masterClasses-what-we-do
{
    color: #323232;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.aboutAs-FIO
{
    color: #000;
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

.aboutAs-philosophy
{
    color: #323232;
    text-align: right;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 36px */
}